<?xml version="1.0"?>
<robot name="forklift" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="gray">
        <color rgba="0.7 0.7 0.7 1" />
    </material>
    <material name="black">
        <color rgba="0.9 0.9 0.9 1" />
    </material>


    <!-- Link body -->
    <link name="base_link">
        <!-- Part body -->
        <visual name="body_visual_mesh_1">
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/body1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="-0.00799562 -3.71942e-17 0" rpy="0 -0 0" />
            <material name="gray" />
        </visual>
    
        <collision name="body_collision_mesh_2">
            <!-- <pose relative_to="body">-0.00799562 -3.71942e-17 0 0 -0 0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/body1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="-0.00799562 -3.71942e-17 0" rpy="0 -0 0" />
        </collision>
      
        <inertial>
            <!-- <pose>0.108872 -1.9711e-07 0.248955 0 0 0</pose> -->
            <mass value="5000" />
            <origin xyz="0.108872 -1.9711e-07 0.248955" rpy="0 0 0" />
            <inertia ixx="743.717" ixy="7.94891e-06" ixz="-149.673"
                     iyy="759.431" iyz="0.00072338"
                     izz="282.509" />
        </inertial>
        <!-- <pose>0 0 0 0 -0 0</pose> -->

        <sensor name='gpu_lidar' type='gpu_lidar'>"
            <pose relative_to='lidar_frame'>0 0 0 0 0 0</pose>
            <topic>lidar</topic>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>640</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.396263</min_angle>
                        <max_angle>1.396263</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>0.01</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </link>

    <!-- NavSatSensor Link (GPS) -->
    <link name="gps_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 1.2" rpy="0 0 0" />
        <inertia ixx="0.00001" ixy="0" ixz="0"
                 iyy="0.00001" iyz="0"
                 izz="0.00001" />
      </inertial>
      
      <sensor name="navsat_sensor" type="navsat">
        <pose>0 0 0 0 0 0</pose>
        <always_on>1</always_on>
        <update_rate>1</update_rate>
        <visualize>false</visualize>
        <topic>forklift_pos</topic>
        <navsat>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.00001</stddev>
          </noise>
        </navsat>
      </sensor>
    </link>

    <joint name="gps_joint" type="fixed">
        <parent link="base_link" />
        <child link="gps_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>



    <!-- Link wheel -->
    <link name="wheel">
        <!-- Part wheel -->
        <visual name="wheel_visual_mesh_1">
            <!-- <pose relative_to="wheel">0 0 -0.1025 -1.5708 -0 0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/wheel1.stl" scale="1 1 1" />
            </geometry>
            <!-- <origin xyz="0 0 -0.1025" rpy="-1.5708 -0 0" /> -->
            <origin xyz="0 0.1025 0" rpy="0 ${pi/2.0} 0" />
            <material name="black" />
        </visual>

      <inertial>
        <!-- <pose>-2.21045e-15 -2.33218e-16 -0.0703848 0 0 0</pose> -->
        <mass value="0.816749" />
        <origin xyz="-2.21045e-15 -2.33218e-16 -0.0703848" rpy="0 0 0" />
        <inertia ixx="70.0011595" ixy="0" ixz="0"
                     iyy="0.0011595" iyz="0"
                     izz="0.00147113" />
      </inertial>
      
      <collision name="wheel_collision_mesh_2">
        <!-- <pose relative_to="wheel">0 0 -0.1025 -1.5708 -0 0</pose> -->
        <geometry>
          <mesh filename="file://$(find Gazebo_world)/meshes/wheel1.stl" scale="1 1 1" />
        </geometry>
        <!-- <origin xyz="0 0 -0.1025" rpy="-1.5708 -0 0" /> -->
        <origin xyz="0 0.1025 0" rpy="0 ${pi/2.0} 0" />
      </collision>
    </link>

    <!-- Joint from body to wheel -->
    <joint name="leftFrontWheel" type="revolute">
      <!-- <pose relative_to="body">0.192004 0.25 0.05 1.5708 -0 0</pose> -->
        <parent link="base_link" />
        <child link="wheel" />
        <origin xyz="-0.192004 0.25 0.05" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <limit lower="-3.141592653589793" upper="3.141592653589793" effort="10" velocity="10" />
    </joint>



    <!-- Link wheel_2 -->
    <link name="wheel_2">
        <!-- Part wheel_2 -->
        <visual name="wheel_2_visual_mesh_1">
            <!-- <pose relative_to="wheel_2">0 0 -0.1025 -1.5708 -0 0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/wheel1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0.1025 0" rpy="0 ${pi/2.0} 0" />
            <material name="black" />
        </visual>

        <inertial>
            <!-- <pose>-2.21045e-15 -2.33218e-16 -0.0703848 0 0 0</pose> -->
            <mass value="0.816749" />
            <origin xyz="-2.21045e-15 -2.33218e-16 -0.0703848" rpy="0 0 0" />
            <inertia ixx="0.0011595" ixy="0" ixz="0"
                     iyy="0.0011595" iyz="0"
                     izz="0.00147113" />
        </inertial>
      <!-- <pose relative_to="leftBackWheel">0 0 0 0 -0 0</pose> -->
      
        <collision name="wheel_2_collision_mesh_2">
            <!-- <pose relative_to="wheel_2">0 0 -0.1025 -1.5708 -0 0</pose> -->
                <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/wheel1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0.1025 0" rpy="0 ${pi/2.0} 0" />
        </collision>
    </link>

    <!-- Joint from body to wheel_2 -->
    <joint name="leftBackWheel" type="revolute">
      <!-- <pose relative_to="body">-0.207996 0.25 0.05 1.5708 -0 0</pose> -->
        <parent link="base_link" />
        <child link="wheel_2" />
        <origin xyz="0.192004 0.25 0.05" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <limit lower="-3.141592653589793" upper="3.141592653589793" effort="10" velocity="10" />
    </joint>



    <!-- Link wheel_3 -->
    <link name="wheel_3">

        <!-- Part wheel_3 -->
        <visual name="wheel_3_visual_mesh_1">
            <!-- <pose relative_to="wheel_3">0 0 -0.1025 -1.5708 -0 0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/wheel1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0.1025 0" rpy="0 ${pi/2.0} 0" />
            <material name="black" />
        </visual>

        <inertial>
            <mass value="0.816749" />
            <origin xyz="-2.21045e-15 -2.33218e-16 -0.0703848" rpy="0 0 0" />
            <inertia ixx="0.0011595" ixy="0" ixz="0"
                     iyy="0.0011595" iyz="0"
                     izz="0.00147113" />
        </inertial>
      <!-- <pose relative_to="rightFrontWheel">0 0 0 0 -0 0</pose> -->
      
        <collision name="wheel_3_collision_mesh_2">
            <!-- <pose relative_to="wheel_3">0 0 -0.1025 -1.5708 -0 0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/wheel1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0.1025 0" rpy="0 ${pi/2.0} 0" />
        </collision>
    </link>

    <!-- Joint from body to wheel_3 -->
    <joint name="rightFrontWheel" type="revolute">
        <!-- <pose relative_to="body">0.192004 -0.25 0.05 -1.5708 -0 0</pose> -->
        <parent link="base_link" />
        <child link="wheel_3" />
        <origin xyz="0.192004 -0.4 0.05" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <limit lower="-3.141592653589793" upper="3.141592653589793" effort="10" velocity="10" />
    </joint>


    <!-- Link wheel_4 -->
    <link name="wheel_4">

        <!-- Part wheel_4 -->
        <visual name="wheel_4_visual_mesh_1">
            <!-- <pose relative_to="wheel_4">0 0 -0.1025 -1.5708 -0 0</pose> -->
           <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/wheel1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0.1025 0" rpy="0 ${pi/2.0} 0" />
            <material name="black" />
        </visual>

        <inertial>
            <!-- <pose>-2.21045e-15 -2.33218e-16 -0.0703848 0 0 0</pose> -->
            <mass value="0.816749" />
            <origin xyz="-2.21045e-15 -2.33218e-16 -0.0703848" rpy="0 0 0" />
            <inertia ixx="0.0011595" ixy="0" ixz="0"
                     iyy="0.0011595" iyz="0"
                     izz="0.00147113" />
        </inertial>
      <!-- <pose relative_to="rightBackWheel">0 0 0 0 -0 0</pose> -->
      
        <collision name="wheel_4_collision_mesh_2">
            <!-- <pose relative_to="wheel_4">0 0 -0.1025 -1.5708 -0 0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/wheel1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="0 0.1025 0" rpy="0 ${pi/2.0} 0" />
      </collision>
    </link>

    <!-- Joint from body to wheel_4 -->
    <joint name="rightBackWheel" type="revolute">
        <parent link="base_link" />
        <child link="wheel_4" />
        <origin xyz="-0.192004 -0.4 0.05" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <limit lower="-3.141592653589793" upper="3.141592653589793" effort="10" velocity="10" />
    </joint>



    <!-- Link fork -->
    <link name="fork">

        <!-- Part fork -->
        <visual name="fork_visual_mesh_1">
            <!-- <pose relative_to="fork">-0.015 0.0 0.0 3.14159 -0 -0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/fork1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="-0.015 0.0 0.0" rpy="3.14159 -0 -0" />
            <material name="gray" />
        </visual>

        <inertial>
            <!-- <pose>0.0 0.0 -0.015 0 0 0</pose> -->
            <mass value="17.7929" />
            <origin xyz="0.0 0.0 -0.015" rpy="0 0 0" />
            <inertia ixx="0.728234" ixy="-7.49898e-16" ixz="-0.00181882"
                     iyy="0.978226" iyz="3.57919e-18"
                     izz="1.70379" />
        </inertial>
      <!-- <pose relative_to="lift">0 0 0 0 -0 0</pose> -->
      
        <collision name="fork_collision_mesh_2">
            <!-- <pose relative_to="fork">-0.015 0 0 3.14159 -0 -0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/fork1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="-0.015 0 0" rpy="3.14159 -0 -0" />
      </collision>
    </link>

    <!-- Joint from body to fork -->
    <joint name="lift" type="prismatic">
        <!-- <pose relative_to="body">0.307004 -2.8844e-16 0.001 3.14159 -0 0</pose> -->
        <parent link="base_link" />
        <child link="fork" />
        <origin xyz="0.307004 -2.8844e-16 0.001" rpy="3.14159 -0 0" />
        <axis xyz="0 0 1" />
        <limit lower="-1.75" upper="0.0" effort="10" velocity="10" />
    </joint>

    <!-- Link carriage -->
    <link name="carriage">
        <!-- Part carriage -->
        <visual name="carriage_visual_mesh_1">
        <!-- <pose relative_to="carriage">-7.40575e-17 0.0152514 0 1.5708 1.5708 0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/carriage1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="-7.40575e-17 0.0152514 0" rpy="1.5708 1.5708 0" />
            <material name="gray" />
        </visual>

        <inertial>
            <mass value="1.57882" />
            <origin xyz="-8.35942e-17 0.00139856 0.08" rpy="0 0 0" />
            <inertia ixx="0.00384031" ixy="3.60906e-54" ixz="2.66143e-50"
                     iyy="0.015562" iyz="0.000168789"
                     izz="0.0119604" />
      </inertial>
      <!-- <pose relative_to="forkSlider">0 0 0 0 -0 0</pose> -->
      
        <collision name="carriage_collision_mesh_2">
            <!-- <pose relative_to="carriage">-7.40575e-17 0.0152514 0 1.5708 1.5708 0</pose> -->
            <geometry>
                <mesh filename="file://$(find Gazebo_world)/meshes/carriage1.stl" scale="1 1 1" />
            </geometry>
            <origin xyz="-7.40575e-17 0.0152514 0" rpy="1.5708 1.5708 0" />
      </collision>
    </link>

    <!-- Joint from fork to carriage -->
    <joint name="forkSlider" type="prismatic">
        <!-- <pose relative_to="fork">0.615 1.27389e-18 -0.015 1.5708 -4.93295e-18 -1.5708</pose> -->
        <parent link="fork" />
        <child link="carriage" />
        <origin xyz="0.615 1.27389e-18 -0.015" rpy="1.5708 -4.93295e-18 -1.5708" />
        <axis xyz="0 0 1" />
        <limit lower="-1.1102230246251565e-16" upper="0.4999999999999999" effort="10" velocity="10" />      
    </joint>

</robot>
    